body{
    margin: 0;
    margin-left:25px;
    background-color: rgb(133, 133, 133);
    color: white;
}

.header{
    
    text-align: center  ;
}
hr{
    margin-left: -5px;
}

.picture{
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

.logo{
    width: 45px;
    height: 45px;
}

.logo1{
    margin-left: 5px;
    width: 35px;
    height: 35px;
}

p{
    font-size: 20px;
}
